<!-- Validation failure messages -->
<% if @scomment.present? %>
  <% if @scomment.errors.any? %>
    <% @scomment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new scomment
</h1>


<hr>

<!-- Form scomment start -->
<form action="/create_scomment" method="post">
<!-- Form scomment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @scomment.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for solution_id start -->
  <div class="form-group">
    <label for="solution_id">
      Solution
    </label>

    <!-- Input for solution_id start -->
    <input type="text" id="solution_id" name="solution_id" class="form-control" value="<%= @scomment.solution_id %>">
    <!-- Input for solution_id end -->
  </div>
  <!-- Label and input for solution_id end -->

  <!-- Label and input for message start -->
  <div class="form-group">
    <label for="message">
      Message
    </label>

    <!-- Input for message start -->
    <textarea id="message" name="message" class="form-control" rows="3"><%= @scomment.message %></textarea>
    <!-- Input for message end -->
  </div>
  <!-- Label and input for message end -->

  <button class="btn btn-block btn-outline-secondary">
    Create scomment
  </button>
</form>

<hr>

<a href="/scomments">
  Go back
</a>
