<h1>
  Edit brand #<%= @brand.id %>
</h1>

<hr>

<!-- Form brand start -->
<form action="/update_brand/<%= @brand.id %>" method="post">
<!-- Form brand end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @brand.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @brand.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <button class="btn btn-block btn-outline-secondary">
    Update brand
  </button>
</form>

<hr>

<a href="/brands">
  Go back
</a>
