<h1>
  Add a new customer segment
</h1>


<hr>

<form action="/create_orgchart" method="post">

  <div class="form-group">
    <label for="department_id">
      department_id
    </label>

    <input type="text" id="department_id" name="department_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="salsterr_id">
      salsterr_id
    </label>

    <input type="text" id="salsterr_id" name="salsterr_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      slprsnid
    </label>

    <input type="text" id="slprsnid" name="slprsnid" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create
  </button>
</form>

<hr>

<a href="/orgcharts">
  Go back
</a>
