<% if @customer_segment.present? %>
  <% if @customer_segment.errors.any? %>
    <% @customer_segment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new customer segment
</h1>


<hr>

<form action="/create_customer_segment" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @customer_segment.name %>">
  </div>

  <div class="form-group">
    <label for="code">
      Code
    </label>

    <input type="text" id="code" name="code" class="form-control" value="<%= @customer_segment.code %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @customer_segment.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customer segment
  </button>
</form>

<hr>

<a href="/customer_segments">
  Go back
</a>
