<h1 style="color:#D7DBDD">
  Contestar Aclaración: <%=@complain.title %>
</h1>


<hr>

<form action="/create_solution" method="post">

  <div class="form-group">
    <input type="hidden" id="complain_id" name="complain_id" class="form-control" value="<%= @complainid %>">
  </div>

  <div class="form-group">
    <label for="title">
      Título
    </label>

    <input type="text" id="title" name="title" class="form-control" value="Re: <%= @complain.title %>">
  </div>

  <div class="form-group">
    <label for="message">
      Mensaje
    </label>

    <textarea id="message" name="message" class="form-control" rows="3"></textarea>
  </div>

    <div class="form-group">
      <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="close">
    <input id="close" class="form-check-input" name="close" type="checkbox">
    <label for="close" class="form-check-label">
      Seleccionar si este mensaje resuelve la aclaración
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="like">
    <input type="hidden" id="scomment_id" name="scomment_id" class="form-control">
      </div>
  <!-- <div class="form-check">
    <input type="hidden" value="0" name="like">
    <input id="like" class="form-check-input" name="like" type="checkbox">
    <label for="like" class="form-check-label">
      Like
    </label>
  </div>

  <div class="form-group">
    <label for="scomment_id">
      Scomment
    </label>

    <input type="text" id="scomment_id" name="scomment_id" class="form-control">
  </div> -->



  <button class="btn btn-block btn-outline-secondary">
   Enviar
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
