<!-- Validation failure messages -->
<% if @complaintype.present? %>
  <% if @complaintype.errors.any? %>
    <% @complaintype.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new complaintype
</h1>


<hr>

<!-- Form complaintype start -->
<form action="/create_complaintype" method="post">
<!-- Form complaintype end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @complaintype.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for code start -->
  <div class="form-group">
    <label for="code">
      Code
    </label>

    <!-- Input for code start -->
    <input type="text" id="code" name="code" class="form-control" value="<%= @complaintype.code %>">
    <!-- Input for code end -->
  </div>
  <!-- Label and input for code end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @complaintype.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <button class="btn btn-block btn-outline-secondary">
    Create complaintype
  </button>
</form>

<hr>

<a href="/complaintypes">
  Go back
</a>
