<% if @subcategory.present? %>
  <% if @subcategory.errors.any? %>
    <% @subcategory.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new subcategory
</h1>


<hr>

<form action="/create_subcategory" method="post">

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @subcategory.category_id %>">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @subcategory.name %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @subcategory.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create subcategory
  </button>
</form>

<hr>

<a href="/subcategories">
  Go back
</a>
