<h1>
  Add a new salsterr
</h1>


<hr>

<!-- Form salsterr start -->
<form action="/create_salsterr" method="post">
<!-- Form salsterr end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for code start -->
  <div class="form-group">
    <label for="code">
      Code
    </label>

    <!-- Input for code start -->
    <input type="text" id="code" name="code" class="form-control">
    <!-- Input for code end -->
  </div>
  <!-- Label and input for code end -->

  <button class="btn btn-block btn-outline-secondary">
    Create salsterr
  </button>
</form>

<hr>

<a href="/salsterrs">
  Go back
</a>
