<h1>
  Add a new product
</h1>


<hr>

<form action="/create_product" method="post">

  <div class="form-group">
    <label for="itemnmbr">
      Itemnmbr
    </label>

    <input type="text" id="itemnmbr" name="itemnmbr" class="form-control">
  </div>

  <div class="form-group">
    <label for="parent_sku">
      Parent sku
    </label>

    <input type="text" id="parent_sku" name="parent_sku" class="form-control">
  </div>

  <div class="form-group">
    <label for="relationship_type">
      Relationship type
    </label>

    <input type="text" id="relationship_type" name="relationship_type" class="form-control">
  </div>

  <div class="form-group">
    <label for="sku_parent_related">
      Sku parent related
    </label>

    <input type="text" id="sku_parent_related" name="sku_parent_related" class="form-control">
  </div>

  <div class="form-group">
    <label for="item_sku_nuevo">
      Item sku nuevo
    </label>

    <input type="text" id="item_sku_nuevo" name="item_sku_nuevo" class="form-control">
  </div>

  <div class="form-group">
    <label for="barcode">
      Barcode
    </label>

    <input type="text" id="barcode" name="barcode" class="form-control">
  </div>

  <div class="form-group">
    <label for="brand_id">
      Brand
    </label>

    <input type="text" id="brand_id" name="brand_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="item_name">
      Item name
    </label>

    <input type="text" id="item_name" name="item_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <input type="text" id="category_id" name="category_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="productline_id">
      Productline
    </label>

    <input type="text" id="productline_id" name="productline_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="subcategory_id">
      Subcategory
    </label>

    <input type="text" id="subcategory_id" name="subcategory_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_description">
      Product description
    </label>

    <textarea id="product_description" name="product_description" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="product_short_description">
      Product short description
    </label>

    <input type="text" id="product_short_description" name="product_short_description" class="form-control">
  </div>

  <div class="form-group">
    <label for="model">
      Model
    </label>

    <input type="text" id="model" name="model" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_includes">
      Product includes
    </label>

    <input type="text" id="product_includes" name="product_includes" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_warranty">
      Product warranty
    </label>

    <input type="text" id="product_warranty" name="product_warranty" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_weight">
      Product weight
    </label>

    <input type="text" id="product_weight" name="product_weight" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_width">
      Product width
    </label>

    <input type="text" id="product_width" name="product_width" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_length">
      Product length
    </label>

    <input type="text" id="product_length" name="product_length" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_height">
      Product height
    </label>

    <input type="text" id="product_height" name="product_height" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_volume">
      Product volume
    </label>

    <input type="text" id="product_volume" name="product_volume" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_distribution_volume">
      Product distribution volume
    </label>

    <input type="text" id="product_distribution_volume" name="product_distribution_volume" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_new_date_start">
      Product new date start
    </label>

    <input type="text" id="product_new_date_start" name="product_new_date_start" class="form-control">
  </div>

  <div class="form-group">
    <label for="product_new_date_ends">
      Product new date ends
    </label>

    <input type="text" id="product_new_date_ends" name="product_new_date_ends" class="form-control">
  </div>

  <div class="form-group">
    <label for="max_order_quantity">
      Max order quantity
    </label>

    <input type="text" id="max_order_quantity" name="max_order_quantity" class="form-control">
  </div>

  <div class="form-group">
    <label for="standard_price">
      Standard price
    </label>

    <input type="text" id="standard_price" name="standard_price" class="form-control">
  </div>

  <div class="form-group">
    <label for="list_price">
      List price
    </label>

    <input type="text" id="list_price" name="list_price" class="form-control">
  </div>

  <div class="form-group">
    <label for="attributes_bullet_point1">
      Attributes bullet point1
    </label>

    <input type="text" id="attributes_bullet_point1" name="attributes_bullet_point1" class="form-control">
  </div>

  <div class="form-group">
    <label for="attributes_bullet_point2">
      Attributes bullet point2
    </label>

    <input type="text" id="attributes_bullet_point2" name="attributes_bullet_point2" class="form-control">
  </div>

  <div class="form-group">
    <label for="attributes_bullet_point3">
      Attributes bullet point3
    </label>

    <input type="text" id="attributes_bullet_point3" name="attributes_bullet_point3" class="form-control">
  </div>

  <div class="form-group">
    <label for="attributes_bullet_point4">
      Attributes bullet point4
    </label>

    <input type="text" id="attributes_bullet_point4" name="attributes_bullet_point4" class="form-control">
  </div>

  <div class="form-group">
    <label for="attributes_bullet_point5">
      Attributes bullet point5
    </label>

    <input type="text" id="attributes_bullet_point5" name="attributes_bullet_point5" class="form-control">
  </div>

  <div class="form-group">
    <label for="generic_keywords1">
      Generic keywords1
    </label>

    <input type="text" id="generic_keywords1" name="generic_keywords1" class="form-control">
  </div>

  <div class="form-group">
    <label for="generic_keywords2">
      Generic keywords2
    </label>

    <input type="text" id="generic_keywords2" name="generic_keywords2" class="form-control">
  </div>

  <div class="form-group">
    <label for="generic_keywords3">
      Generic keywords3
    </label>

    <input type="text" id="generic_keywords3" name="generic_keywords3" class="form-control">
  </div>

  <div class="form-group">
    <label for="generic_keywords4">
      Generic keywords4
    </label>

    <input type="text" id="generic_keywords4" name="generic_keywords4" class="form-control">
  </div>

  <div class="form-group">
    <label for="main_image_url">
      Main image url
    </label>

    <input type="text" id="main_image_url" name="main_image_url" class="form-control">
  </div>

  <div class="form-group">
    <label for="left_image_url1">
      Left image url1
    </label>

    <input type="text" id="left_image_url1" name="left_image_url1" class="form-control">
  </div>

  <div class="form-group">
    <label for="right_image_url2">
      Right image url2
    </label>

    <input type="text" id="right_image_url2" name="right_image_url2" class="form-control">
  </div>

  <div class="form-group">
    <label for="back_image_url3">
      Back image url3
    </label>

    <input type="text" id="back_image_url3" name="back_image_url3" class="form-control">
  </div>

  <div class="form-group">
    <label for="use1_image_url4">
      Use1 image url4
    </label>

    <input type="text" id="use1_image_url4" name="use1_image_url4" class="form-control">
  </div>

  <div class="form-group">
    <label for="use2_image_url5">
      Use2 image url5
    </label>

    <input type="text" id="use2_image_url5" name="use2_image_url5" class="form-control">
  </div>

  <div class="form-group">
    <label for="use3_image_url5">
      Use3 image url5
    </label>

    <input type="text" id="use3_image_url5" name="use3_image_url5" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_related1">
      Link sku related1
    </label>

    <input type="text" id="link_sku_related1" name="link_sku_related1" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_related2">
      Link sku related2
    </label>

    <input type="text" id="link_sku_related2" name="link_sku_related2" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_related3">
      Link sku related3
    </label>

    <input type="text" id="link_sku_related3" name="link_sku_related3" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_upsell1">
      Link sku upsell1
    </label>

    <input type="text" id="link_sku_upsell1" name="link_sku_upsell1" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_upsell2">
      Link sku upsell2
    </label>

    <input type="text" id="link_sku_upsell2" name="link_sku_upsell2" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_upsell3">
      Link sku upsell3
    </label>

    <input type="text" id="link_sku_upsell3" name="link_sku_upsell3" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_crosssell1">
      Link sku crosssell1
    </label>

    <input type="text" id="link_sku_crosssell1" name="link_sku_crosssell1" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_crosssell2">
      Link sku crosssell2
    </label>

    <input type="text" id="link_sku_crosssell2" name="link_sku_crosssell2" class="form-control">
  </div>

  <div class="form-group">
    <label for="link_sku_crosssell3">
      Link sku crosssell3
    </label>

    <input type="text" id="link_sku_crosssell3" name="link_sku_crosssell3" class="form-control">
  </div>

  <div class="form-group">
    <label for="keywords">
      Keywords
    </label>

    <input type="text" id="keywords" name="keywords" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
