<h1>
  Add a new product
</h1>


<hr>

<!-- Form product start -->
<form action="/create_product" method="post">
<!-- Form product end -->

  <!-- Label and input for itemnmbr start -->
  <div class="form-group">
    <label for="itemnmbr">
      Itemnmbr
    </label>

    <!-- Input for itemnmbr start -->
    <input type="text" id="itemnmbr" name="itemnmbr" class="form-control">
    <!-- Input for itemnmbr end -->
  </div>
  <!-- Label and input for itemnmbr end -->

  <!-- Label and input for parent_sku start -->
  <div class="form-group">
    <label for="parent_sku">
      Parent sku
    </label>

    <!-- Input for parent_sku start -->
    <input type="text" id="parent_sku" name="parent_sku" class="form-control">
    <!-- Input for parent_sku end -->
  </div>
  <!-- Label and input for parent_sku end -->

  <!-- Label and input for relationship_type start -->
  <div class="form-group">
    <label for="relationship_type">
      Relationship type
    </label>

    <!-- Input for relationship_type start -->
    <input type="text" id="relationship_type" name="relationship_type" class="form-control">
    <!-- Input for relationship_type end -->
  </div>
  <!-- Label and input for relationship_type end -->

  <!-- Label and input for sku_parent_related start -->
  <div class="form-group">
    <label for="sku_parent_related">
      Sku parent related
    </label>

    <!-- Input for sku_parent_related start -->
    <input type="text" id="sku_parent_related" name="sku_parent_related" class="form-control">
    <!-- Input for sku_parent_related end -->
  </div>
  <!-- Label and input for sku_parent_related end -->

  <!-- Label and input for item_sku_nuevo start -->
  <div class="form-group">
    <label for="item_sku_nuevo">
      Item sku nuevo
    </label>

    <!-- Input for item_sku_nuevo start -->
    <input type="text" id="item_sku_nuevo" name="item_sku_nuevo" class="form-control">
    <!-- Input for item_sku_nuevo end -->
  </div>
  <!-- Label and input for item_sku_nuevo end -->

  <!-- Label and input for barcode start -->
  <div class="form-group">
    <label for="barcode">
      Barcode
    </label>

    <!-- Input for barcode start -->
    <input type="text" id="barcode" name="barcode" class="form-control">
    <!-- Input for barcode end -->
  </div>
  <!-- Label and input for barcode end -->

  <!-- Label and input for brand_id start -->
  <div class="form-group">
    <label for="brand_id">
      Brand
    </label>

    <!-- Input for brand_id start -->
    <input type="text" id="brand_id" name="brand_id" class="form-control">
    <!-- Input for brand_id end -->
  </div>
  <!-- Label and input for brand_id end -->

  <!-- Label and input for item_name start -->
  <div class="form-group">
    <label for="item_name">
      Item name
    </label>

    <!-- Input for item_name start -->
    <input type="text" id="item_name" name="item_name" class="form-control">
    <!-- Input for item_name end -->
  </div>
  <!-- Label and input for item_name end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <!-- Label and input for productline_id start -->
  <div class="form-group">
    <label for="productline_id">
      Productline
    </label>

    <!-- Input for productline_id start -->
    <input type="text" id="productline_id" name="productline_id" class="form-control">
    <!-- Input for productline_id end -->
  </div>
  <!-- Label and input for productline_id end -->

  <!-- Label and input for subcategory_id start -->
  <div class="form-group">
    <label for="subcategory_id">
      Subcategory
    </label>

    <!-- Input for subcategory_id start -->
    <input type="text" id="subcategory_id" name="subcategory_id" class="form-control">
    <!-- Input for subcategory_id end -->
  </div>
  <!-- Label and input for subcategory_id end -->

  <!-- Label and input for product_description start -->
  <div class="form-group">
    <label for="product_description">
      Product description
    </label>

    <!-- Input for product_description start -->
    <textarea id="product_description" name="product_description" class="form-control" rows="3"></textarea>
    <!-- Input for product_description end -->
  </div>
  <!-- Label and input for product_description end -->

  <!-- Label and input for product_short_description start -->
  <div class="form-group">
    <label for="product_short_description">
      Product short description
    </label>

    <!-- Input for product_short_description start -->
    <input type="text" id="product_short_description" name="product_short_description" class="form-control">
    <!-- Input for product_short_description end -->
  </div>
  <!-- Label and input for product_short_description end -->

  <!-- Label and input for model start -->
  <div class="form-group">
    <label for="model">
      Model
    </label>

    <!-- Input for model start -->
    <input type="text" id="model" name="model" class="form-control">
    <!-- Input for model end -->
  </div>
  <!-- Label and input for model end -->

  <!-- Label and input for product_includes start -->
  <div class="form-group">
    <label for="product_includes">
      Product includes
    </label>

    <!-- Input for product_includes start -->
    <input type="text" id="product_includes" name="product_includes" class="form-control">
    <!-- Input for product_includes end -->
  </div>
  <!-- Label and input for product_includes end -->

  <!-- Label and input for product_warranty start -->
  <div class="form-group">
    <label for="product_warranty">
      Product warranty
    </label>

    <!-- Input for product_warranty start -->
    <input type="text" id="product_warranty" name="product_warranty" class="form-control">
    <!-- Input for product_warranty end -->
  </div>
  <!-- Label and input for product_warranty end -->

  <!-- Label and input for product_weight start -->
  <div class="form-group">
    <label for="product_weight">
      Product weight
    </label>

    <!-- Input for product_weight start -->
    <input type="text" id="product_weight" name="product_weight" class="form-control">
    <!-- Input for product_weight end -->
  </div>
  <!-- Label and input for product_weight end -->

  <!-- Label and input for product_width start -->
  <div class="form-group">
    <label for="product_width">
      Product width
    </label>

    <!-- Input for product_width start -->
    <input type="text" id="product_width" name="product_width" class="form-control">
    <!-- Input for product_width end -->
  </div>
  <!-- Label and input for product_width end -->

  <!-- Label and input for product_length start -->
  <div class="form-group">
    <label for="product_length">
      Product length
    </label>

    <!-- Input for product_length start -->
    <input type="text" id="product_length" name="product_length" class="form-control">
    <!-- Input for product_length end -->
  </div>
  <!-- Label and input for product_length end -->

  <!-- Label and input for product_height start -->
  <div class="form-group">
    <label for="product_height">
      Product height
    </label>

    <!-- Input for product_height start -->
    <input type="text" id="product_height" name="product_height" class="form-control">
    <!-- Input for product_height end -->
  </div>
  <!-- Label and input for product_height end -->

  <!-- Label and input for product_volume start -->
  <div class="form-group">
    <label for="product_volume">
      Product volume
    </label>

    <!-- Input for product_volume start -->
    <input type="text" id="product_volume" name="product_volume" class="form-control">
    <!-- Input for product_volume end -->
  </div>
  <!-- Label and input for product_volume end -->

  <!-- Label and input for product_distribution_volume start -->
  <div class="form-group">
    <label for="product_distribution_volume">
      Product distribution volume
    </label>

    <!-- Input for product_distribution_volume start -->
    <input type="text" id="product_distribution_volume" name="product_distribution_volume" class="form-control">
    <!-- Input for product_distribution_volume end -->
  </div>
  <!-- Label and input for product_distribution_volume end -->

  <!-- Label and input for product_new_date_start start -->
  <div class="form-group">
    <label for="product_new_date_start">
      Product new date start
    </label>

    <!-- Input for product_new_date_start start -->
    <input type="text" id="product_new_date_start" name="product_new_date_start" class="form-control">
    <!-- Input for product_new_date_start end -->
  </div>
  <!-- Label and input for product_new_date_start end -->

  <!-- Label and input for product_new_date_ends start -->
  <div class="form-group">
    <label for="product_new_date_ends">
      Product new date ends
    </label>

    <!-- Input for product_new_date_ends start -->
    <input type="text" id="product_new_date_ends" name="product_new_date_ends" class="form-control">
    <!-- Input for product_new_date_ends end -->
  </div>
  <!-- Label and input for product_new_date_ends end -->

  <!-- Label and input for max_order_quantity start -->
  <div class="form-group">
    <label for="max_order_quantity">
      Max order quantity
    </label>

    <!-- Input for max_order_quantity start -->
    <input type="text" id="max_order_quantity" name="max_order_quantity" class="form-control">
    <!-- Input for max_order_quantity end -->
  </div>
  <!-- Label and input for max_order_quantity end -->

  <!-- Label and input for standard_price start -->
  <div class="form-group">
    <label for="standard_price">
      Standard price
    </label>

    <!-- Input for standard_price start -->
    <input type="text" id="standard_price" name="standard_price" class="form-control">
    <!-- Input for standard_price end -->
  </div>
  <!-- Label and input for standard_price end -->

  <!-- Label and input for list_price start -->
  <div class="form-group">
    <label for="list_price">
      List price
    </label>

    <!-- Input for list_price start -->
    <input type="text" id="list_price" name="list_price" class="form-control">
    <!-- Input for list_price end -->
  </div>
  <!-- Label and input for list_price end -->

  <!-- Label and input for attributes_bullet_point1 start -->
  <div class="form-group">
    <label for="attributes_bullet_point1">
      Attributes bullet point1
    </label>

    <!-- Input for attributes_bullet_point1 start -->
    <input type="text" id="attributes_bullet_point1" name="attributes_bullet_point1" class="form-control">
    <!-- Input for attributes_bullet_point1 end -->
  </div>
  <!-- Label and input for attributes_bullet_point1 end -->

  <!-- Label and input for attributes_bullet_point2 start -->
  <div class="form-group">
    <label for="attributes_bullet_point2">
      Attributes bullet point2
    </label>

    <!-- Input for attributes_bullet_point2 start -->
    <input type="text" id="attributes_bullet_point2" name="attributes_bullet_point2" class="form-control">
    <!-- Input for attributes_bullet_point2 end -->
  </div>
  <!-- Label and input for attributes_bullet_point2 end -->

  <!-- Label and input for attributes_bullet_point3 start -->
  <div class="form-group">
    <label for="attributes_bullet_point3">
      Attributes bullet point3
    </label>

    <!-- Input for attributes_bullet_point3 start -->
    <input type="text" id="attributes_bullet_point3" name="attributes_bullet_point3" class="form-control">
    <!-- Input for attributes_bullet_point3 end -->
  </div>
  <!-- Label and input for attributes_bullet_point3 end -->

  <!-- Label and input for attributes_bullet_point4 start -->
  <div class="form-group">
    <label for="attributes_bullet_point4">
      Attributes bullet point4
    </label>

    <!-- Input for attributes_bullet_point4 start -->
    <input type="text" id="attributes_bullet_point4" name="attributes_bullet_point4" class="form-control">
    <!-- Input for attributes_bullet_point4 end -->
  </div>
  <!-- Label and input for attributes_bullet_point4 end -->

  <!-- Label and input for attributes_bullet_point5 start -->
  <div class="form-group">
    <label for="attributes_bullet_point5">
      Attributes bullet point5
    </label>

    <!-- Input for attributes_bullet_point5 start -->
    <input type="text" id="attributes_bullet_point5" name="attributes_bullet_point5" class="form-control">
    <!-- Input for attributes_bullet_point5 end -->
  </div>
  <!-- Label and input for attributes_bullet_point5 end -->

  <!-- Label and input for generic_keywords1 start -->
  <div class="form-group">
    <label for="generic_keywords1">
      Generic keywords1
    </label>

    <!-- Input for generic_keywords1 start -->
    <input type="text" id="generic_keywords1" name="generic_keywords1" class="form-control">
    <!-- Input for generic_keywords1 end -->
  </div>
  <!-- Label and input for generic_keywords1 end -->

  <!-- Label and input for generic_keywords2 start -->
  <div class="form-group">
    <label for="generic_keywords2">
      Generic keywords2
    </label>

    <!-- Input for generic_keywords2 start -->
    <input type="text" id="generic_keywords2" name="generic_keywords2" class="form-control">
    <!-- Input for generic_keywords2 end -->
  </div>
  <!-- Label and input for generic_keywords2 end -->

  <!-- Label and input for generic_keywords3 start -->
  <div class="form-group">
    <label for="generic_keywords3">
      Generic keywords3
    </label>

    <!-- Input for generic_keywords3 start -->
    <input type="text" id="generic_keywords3" name="generic_keywords3" class="form-control">
    <!-- Input for generic_keywords3 end -->
  </div>
  <!-- Label and input for generic_keywords3 end -->

  <!-- Label and input for generic_keywords4 start -->
  <div class="form-group">
    <label for="generic_keywords4">
      Generic keywords4
    </label>

    <!-- Input for generic_keywords4 start -->
    <input type="text" id="generic_keywords4" name="generic_keywords4" class="form-control">
    <!-- Input for generic_keywords4 end -->
  </div>
  <!-- Label and input for generic_keywords4 end -->

  <!-- Label and input for main_image_url start -->
  <div class="form-group">
    <label for="main_image_url">
      Main image url
    </label>

    <!-- Input for main_image_url start -->
    <input type="text" id="main_image_url" name="main_image_url" class="form-control">
    <!-- Input for main_image_url end -->
  </div>
  <!-- Label and input for main_image_url end -->

  <!-- Label and input for left_image_url1 start -->
  <div class="form-group">
    <label for="left_image_url1">
      Left image url1
    </label>

    <!-- Input for left_image_url1 start -->
    <input type="text" id="left_image_url1" name="left_image_url1" class="form-control">
    <!-- Input for left_image_url1 end -->
  </div>
  <!-- Label and input for left_image_url1 end -->

  <!-- Label and input for right_image_url2 start -->
  <div class="form-group">
    <label for="right_image_url2">
      Right image url2
    </label>

    <!-- Input for right_image_url2 start -->
    <input type="text" id="right_image_url2" name="right_image_url2" class="form-control">
    <!-- Input for right_image_url2 end -->
  </div>
  <!-- Label and input for right_image_url2 end -->

  <!-- Label and input for back_image_url3 start -->
  <div class="form-group">
    <label for="back_image_url3">
      Back image url3
    </label>

    <!-- Input for back_image_url3 start -->
    <input type="text" id="back_image_url3" name="back_image_url3" class="form-control">
    <!-- Input for back_image_url3 end -->
  </div>
  <!-- Label and input for back_image_url3 end -->

  <!-- Label and input for use1_image_url4 start -->
  <div class="form-group">
    <label for="use1_image_url4">
      Use1 image url4
    </label>

    <!-- Input for use1_image_url4 start -->
    <input type="text" id="use1_image_url4" name="use1_image_url4" class="form-control">
    <!-- Input for use1_image_url4 end -->
  </div>
  <!-- Label and input for use1_image_url4 end -->

  <!-- Label and input for use2_image_url5 start -->
  <div class="form-group">
    <label for="use2_image_url5">
      Use2 image url5
    </label>

    <!-- Input for use2_image_url5 start -->
    <input type="text" id="use2_image_url5" name="use2_image_url5" class="form-control">
    <!-- Input for use2_image_url5 end -->
  </div>
  <!-- Label and input for use2_image_url5 end -->

  <!-- Label and input for use3_image_url5 start -->
  <div class="form-group">
    <label for="use3_image_url5">
      Use3 image url5
    </label>

    <!-- Input for use3_image_url5 start -->
    <input type="text" id="use3_image_url5" name="use3_image_url5" class="form-control">
    <!-- Input for use3_image_url5 end -->
  </div>
  <!-- Label and input for use3_image_url5 end -->

  <!-- Label and input for link_sku_related1 start -->
  <div class="form-group">
    <label for="link_sku_related1">
      Link sku related1
    </label>

    <!-- Input for link_sku_related1 start -->
    <input type="text" id="link_sku_related1" name="link_sku_related1" class="form-control">
    <!-- Input for link_sku_related1 end -->
  </div>
  <!-- Label and input for link_sku_related1 end -->

  <!-- Label and input for link_sku_related2 start -->
  <div class="form-group">
    <label for="link_sku_related2">
      Link sku related2
    </label>

    <!-- Input for link_sku_related2 start -->
    <input type="text" id="link_sku_related2" name="link_sku_related2" class="form-control">
    <!-- Input for link_sku_related2 end -->
  </div>
  <!-- Label and input for link_sku_related2 end -->

  <!-- Label and input for link_sku_related3 start -->
  <div class="form-group">
    <label for="link_sku_related3">
      Link sku related3
    </label>

    <!-- Input for link_sku_related3 start -->
    <input type="text" id="link_sku_related3" name="link_sku_related3" class="form-control">
    <!-- Input for link_sku_related3 end -->
  </div>
  <!-- Label and input for link_sku_related3 end -->

  <!-- Label and input for link_sku_upsell1 start -->
  <div class="form-group">
    <label for="link_sku_upsell1">
      Link sku upsell1
    </label>

    <!-- Input for link_sku_upsell1 start -->
    <input type="text" id="link_sku_upsell1" name="link_sku_upsell1" class="form-control">
    <!-- Input for link_sku_upsell1 end -->
  </div>
  <!-- Label and input for link_sku_upsell1 end -->

  <!-- Label and input for link_sku_upsell2 start -->
  <div class="form-group">
    <label for="link_sku_upsell2">
      Link sku upsell2
    </label>

    <!-- Input for link_sku_upsell2 start -->
    <input type="text" id="link_sku_upsell2" name="link_sku_upsell2" class="form-control">
    <!-- Input for link_sku_upsell2 end -->
  </div>
  <!-- Label and input for link_sku_upsell2 end -->

  <!-- Label and input for link_sku_upsell3 start -->
  <div class="form-group">
    <label for="link_sku_upsell3">
      Link sku upsell3
    </label>

    <!-- Input for link_sku_upsell3 start -->
    <input type="text" id="link_sku_upsell3" name="link_sku_upsell3" class="form-control">
    <!-- Input for link_sku_upsell3 end -->
  </div>
  <!-- Label and input for link_sku_upsell3 end -->

  <!-- Label and input for link_sku_crosssell1 start -->
  <div class="form-group">
    <label for="link_sku_crosssell1">
      Link sku crosssell1
    </label>

    <!-- Input for link_sku_crosssell1 start -->
    <input type="text" id="link_sku_crosssell1" name="link_sku_crosssell1" class="form-control">
    <!-- Input for link_sku_crosssell1 end -->
  </div>
  <!-- Label and input for link_sku_crosssell1 end -->

  <!-- Label and input for link_sku_crosssell2 start -->
  <div class="form-group">
    <label for="link_sku_crosssell2">
      Link sku crosssell2
    </label>

    <!-- Input for link_sku_crosssell2 start -->
    <input type="text" id="link_sku_crosssell2" name="link_sku_crosssell2" class="form-control">
    <!-- Input for link_sku_crosssell2 end -->
  </div>
  <!-- Label and input for link_sku_crosssell2 end -->

  <!-- Label and input for link_sku_crosssell3 start -->
  <div class="form-group">
    <label for="link_sku_crosssell3">
      Link sku crosssell3
    </label>

    <!-- Input for link_sku_crosssell3 start -->
    <input type="text" id="link_sku_crosssell3" name="link_sku_crosssell3" class="form-control">
    <!-- Input for link_sku_crosssell3 end -->
  </div>
  <!-- Label and input for link_sku_crosssell3 end -->

  <!-- Label and input for keywords start -->
  <div class="form-group">
    <label for="keywords">
      Keywords
    </label>

    <!-- Input for keywords start -->
    <input type="text" id="keywords" name="keywords" class="form-control">
    <!-- Input for keywords end -->
  </div>
  <!-- Label and input for keywords end -->

  <button class="btn btn-block btn-outline-secondary">
    Create product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
