<h1>
  Add a new budget
</h1>


<hr>

<form action="/create_budget" method="post">

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control">
  </div>

  <div class="form-group">
    <label for="custnmbr">
      Custnmbr
    </label>

    <input type="text" id="custnmbr" name="custnmbr" class="form-control">
  </div>

  <div class="form-group">
    <label for="salsterr">
      Salsterr
    </label>

    <input type="text" id="salsterr" name="salsterr" class="form-control">
  </div>

  <div class="form-group">
    <label for="gerente">
      Gerente
    </label>

    <input type="text" id="gerente" name="gerente" class="form-control">
  </div>

  <div class="form-group">
    <label for="slprsnid">
      Slprsnid
    </label>

    <input type="text" id="slprsnid" name="slprsnid" class="form-control">
  </div>

  <div class="form-group">
    <label for="sopnumbe">
      Sopnumbe
    </label>

    <input type="text" id="sopnumbe" name="sopnumbe" class="form-control">
  </div>

  <div class="form-group">
    <label for="ene">
      Ene
    </label>

    <input type="text" id="ene" name="ene" class="form-control">
  </div>

  <div class="form-group">
    <label for="feb">
      Feb
    </label>

    <input type="text" id="feb" name="feb" class="form-control">
  </div>

  <div class="form-group">
    <label for="mar">
      Mar
    </label>

    <input type="text" id="mar" name="mar" class="form-control">
  </div>

  <div class="form-group">
    <label for="abr">
      Abr
    </label>

    <input type="text" id="abr" name="abr" class="form-control">
  </div>

  <div class="form-group">
    <label for="may">
      May
    </label>

    <input type="text" id="may" name="may" class="form-control">
  </div>

  <div class="form-group">
    <label for="jun">
      Jun
    </label>

    <input type="text" id="jun" name="jun" class="form-control">
  </div>

  <div class="form-group">
    <label for="jul">
      Jul
    </label>

    <input type="text" id="jul" name="jul" class="form-control">
  </div>

  <div class="form-group">
    <label for="ago">
      Ago
    </label>

    <input type="text" id="ago" name="ago" class="form-control">
  </div>

  <div class="form-group">
    <label for="oct">
      Oct
    </label>

    <input type="text" id="oct" name="oct" class="form-control">
  </div>

  <div class="form-group">
    <label for="sep">
      Sep
    </label>

    <input type="text" id="sep" name="sep" class="form-control">
  </div>

  <div class="form-group">
    <label for="nov">
      Nov
    </label>

    <input type="text" id="nov" name="nov" class="form-control">
  </div>

  <div class="form-group">
    <label for="dic">
      Dic
    </label>

    <input type="text" id="dic" name="dic" class="form-control">
  </div>

  <div class="form-group">
    <label for="total">
      Total
    </label>

    <input type="text" id="total" name="total" class="form-control">
  </div>

  <div class="form-group">
    <label for="agreement_id">
      Agreement
    </label>

    <input type="text" id="agreement_id" name="agreement_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create budget
  </button>
</form>

<hr>

<a href="/budgets">
  Go back
</a>
