<h1>
  Edit ventas2018 #<%= @ventas2018.id %>
</h1>

<hr>

<!-- Form ventas2018 start -->
<form action="/update_ventas2018/<%= @ventas2018.id %>" method="post">
<!-- Form ventas2018 end -->

  <button class="btn btn-block btn-outline-secondary">
    Update ventas2018
  </button>
</form>

<hr>

<a href="/ventas2018s">
  Go back
</a>
