<% if @ventas2018.errors.any? %>
  <% @ventas2018.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit ventas2018 #<%= @ventas2018.id %>
</h1>

<hr>

<form action="/update_ventas2018/<%= @ventas2018.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update ventas2018
  </button>
</form>

<hr>

<a href="/ventas2018s">
  Go back
</a>
