<h1>
  Add a new region
</h1>


<hr>

<!-- Form region start -->
<form action="/create_region" method="post">
<!-- Form region end -->

  <!-- Label and input for state start -->
  <div class="form-group">
    <label for="state">
      State
    </label>

    <!-- Input for state start -->
    <input type="text" id="state" name="state" class="form-control">
    <!-- Input for state end -->
  </div>
  <!-- Label and input for state end -->

  <!-- Label and input for state_code start -->
  <div class="form-group">
    <label for="state_code">
      State code
    </label>

    <!-- Input for state_code start -->
    <input type="text" id="state_code" name="state_code" class="form-control">
    <!-- Input for state_code end -->
  </div>
  <!-- Label and input for state_code end -->

  <!-- Label and input for statenmbr start -->
  <div class="form-group">
    <label for="statenmbr">
      Statenmbr
    </label>

    <!-- Input for statenmbr start -->
    <input type="text" id="statenmbr" name="statenmbr" class="form-control">
    <!-- Input for statenmbr end -->
  </div>
  <!-- Label and input for statenmbr end -->

  <!-- Label and input for salsterr_id start -->
  <div class="form-group">
    <label for="salsterr_id">
      Salsterr
    </label>

    <!-- Input for salsterr_id start -->
    <input type="text" id="salsterr_id" name="salsterr_id" class="form-control">
    <!-- Input for salsterr_id end -->
  </div>
  <!-- Label and input for salsterr_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create region
  </button>
</form>

<hr>

<a href="/regions">
  Go back
</a>
