<h1>
  Add a new complain
</h1>


<hr>

<form action="/create_complain" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="complaintype_id">
      Complaintype
    </label>

    <input type="text" id="complaintype_id" name="complaintype_id" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="solved">
    <input id="solved" class="form-check-input" name="solved" type="checkbox">
    <label for="solved" class="form-check-label">
      Solved
    </label>
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="department_id">
      Department
    </label>

    <input type="text" id="department_id" name="department_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="itemnmbr">
      Itemnmbr
    </label>

    <input type="text" id="itemnmbr" name="itemnmbr" class="form-control">
  </div>

  <div class="form-group">
    <label for="sopnumbe">
      Sopnumbe
    </label>

    <input type="text" id="sopnumbe" name="sopnumbe" class="form-control">
  </div>

  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <input type="text" id="profile_id" name="profile_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="rating">
      Rating
    </label>

    <input type="text" id="rating" name="rating" class="form-control">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create complain
  </button>
</form>

<hr>

<a href="/complains">
  Go back
</a>
