<h1>
  Edit department #<%= @department.id %>
</h1>

<hr>

<form action="/update_department/<%= @department.id %>" method="post">

  <div class="form-group">
    <label for="code">
      Code
    </label>

    <input type="text" id="code" name="code" class="form-control" value="<%= @department.code %>">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @department.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update department
  </button>
</form>

<hr>

<a href="/departments">
  Go back
</a>
