<h1>
  Add a new customer
</h1>


<hr>

<form action="/create_customer" method="post">

  <div class="form-group">
    <label for="custnmbr">
      Custnmbr
    </label>

    <input type="text" id="custnmbr" name="custnmbr" class="form-control">
  </div>

  <div class="form-group">
    <label for="custname">
      Custname
    </label>

    <input type="text" id="custname" name="custname" class="form-control">
  </div>

  <div class="form-group">
    <label for="customer_segment_id">
      Customer segment
    </label>

    <input type="text" id="customer_segment_id" name="customer_segment_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customer
  </button>
</form>

<hr>

<a href="/customers">
  Go back
</a>
